.header {
  
  width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 0;
   
  
    .logo-container {
      height: 100%;
      width: 70px;
     align-self: center;
      
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 0 20px;
        cursor: pointer;
      }
      .icon{
        padding: 0;
      }
    }
  }
  